<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- Latest compiled and minified CSS -->
    {#<link rel="stylesheet" href="/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        ul.tags {
            width: 50px;
            width: 100%;
            margin: 10px 0 0 0;
            padding: 0;
            overflow: hidden;
        }
        .tags li {
            display: inline;
            list-style-type: none;
            margin-right: 14px;
            background-color: orange;
            padding: 3px 8px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        {% include 'partials/nav.twig' %}
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{ title }}</h1>
        {% include 'partials/messages.twig' %}
        <p><a class="btn btn-primary btn-lg" href="/api/v1/refresh" role="button">Refresh &raquo;</a></p>
    </div>
</div>

{% block content %}{% endblock %}

<footer>
    <p>&copy; Company 2015</p>
</footer>
</div> <!-- /container -->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{#<script src="js/bootstrap.min.js"></script>#}
<script>
    $.noConflict();
</script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>
