<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li{% if cur == 'opportunities' %} class="active"{% endif %}><a href="{{ urlFor('opportunities') }}">Opportunities</a></li>
        <li{% if cur == 'opportunities-month' %} class="active"{% endif %}><a href="{{ urlFor('opportunities-month') }}">Opportunities Months</a></li>
        <li{% if cur == 'contacts' %} class="active"{% endif %}><a href="{{ urlFor('contacts') }}">Contacts</a></li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li{% if cur == 'refresh' %} class="active"{% endif %}><a href="{{ urlFor('refresh') }}">Refresh Data</a></li>
                <li{% if cur == 'get-opportunities' %} class="active"{% endif %}><a href="{{ urlFor('get-opportunities') }}">Get Opportunities</a></li>
                <li{% if cur == 'get-contacts' %} class="active"{% endif %}><a href="{{ urlFor('get-contacts') }}">Get Contacts</a></li>
            </ul>
        </li>
    </ul>
</div><!--/.nav-collapse -->
<!--test -->
{% if app.request.attributes.get('_route') == 'page' %}
  hello
{% endif %}
