{% extends 'templates/default.twig' %}

{% block title %}404 Page not Found - SlimInsight{% endblock %}

{% set title='404 - '~msg %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404 Page not Found</h1>
                <p>Please try a different page</p>
            </div>
        </div>
    </div>

{% endblock %}
