{% extends 'templates/default.twig' %}

{% block title %}500 {% if e.getMessage %}{{ e.getMessage }}{% else %}Something went wrong{% endif %} - SlimInsight{% endblock %}

{% set title='500 - '~msg %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>500 {% if e.getMessage %}{{ e.getMessage }}{% else %}Something went wrong{% endif %}</h1>
                <p>Please try a different page</p>
                <p>Level: {{ e.getCode }}</p>
                <p>File: {{ e.getFile }}</p>
                <p>Line: {{ e.getLine }}</p>
                {#<p>{{ e.getMessage }}</p>#}
                {% if e.getTrace %}
                    {% for trace in e.getTrace %}
                    <p>{{ key }}# {{ trace.function }} : {{ trace.line }} : {{ trace.file }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
