{% extends 'templates/default.twig' %}

{% block title %}Contacts - SlimInsight{% endblock %}

{% set title='Contacts in the House' %}

{# TODO: Check if there were some extra status FLAGS in the other columns #}
{% block content %}
  {#{% set stage=stage %}#}

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      {% for key,category in data %}
        {% set category_name=key %}

        <div class="col-xs-6 col-md-3">{# need to itterate at this level by STATE? #}
          <h2>{{ key }}</h2>
          {% for document in category %}
            {% set alert='' %}
            {# endDate and startDate are strings or DateTime objects #}
            {% set difference = date(now).diff(date(document.DATE_UPDATED_UTC)) %}
            {% set leftDays = difference.days %}
            {% set differenceCreated = date(now).diff(date(document.DATE_CREATED_UTC)) %}
            {% set leftDaysCreated = differenceCreated.days %}

            {# panel-warning pannel-danger to use if tag of chase or late #}
            <div class="panel panel-default" style="background-color:{% if 1 - probability(leftDays) <= 0.1 %}slategray{% endif %}; opacity: {% if 1 - probability(leftDays) <= 0.1 %}0.5{% else %}{{ 1 - probability(leftDays) }}{% endif %};">
              <div class="panel-body">
                {#{{ document.DATE_UPDATED_UTC|date('U') - now }}#}

                <h4>{{ document.FIRST_NAME }} {{ document.LAST_NAME }}
                  <span class="badge pull-right">
                    {% if leftDays == 1 %}
                      1 day
                    {% else %}
                      {{ leftDays }} days
                    {% endif %}/
                    {#{% if leftDaysCreated == 1 %}#}
                      {#1 day#}
                    {#{% else %}#}
                      {#{{ leftDaysCreated }} days#}
                    {#{% endif %}#}
                    {{ document.DATE_CREATED_UTC|date('M y') }}</span></h4>
                <h5><span class="date">{{ document.DATE_UPDATED_UTC|date('Y-m-d') }}</span></h5>
                {#email#}{{ document.CONTACTINFOS.0.DETAIL }}
                {#<a class="btn {{ (document.OPPORTUNITY_STATE == 'ABANDONED' or document.OPPORTUNITY_STATE == 'SUSPENDED') ? 'btn-danger' : 'btn-default' }}" role="button" href="https://holdingbay.insight.ly/opportunities/details/{{ document.OPPORTUNITY_ID }}">{{ document.OPPORTUNITY_STATE }} View</a>#}

              </div>
              <div class="panel-footer">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Links<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu{{ loop.index }}">
                    {% for key, links in document.LINKS.0 %}
                      {#<?php foreach ($document.LINKS[0] as $key => $links) {#}
                      {% if links is not null %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="https://holdingbay.insight.ly/{% if key == 'ORGANISATION_ID' %}organisations{% endif %}{% if key == 'CONTACT_ID' %}contacts{% endif %}{% if key == 'OPPORTUNITY_ID' %}opportunities{% endif %}/details/{{ links }}">{{ key }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>

                <a class="btn {{ alert }}" role="button" href="https://holdingbay.insight.ly/contacts/details/{{ document.CONTACT_ID }}">{{ document.LINKS|length }} View</a>

                <!-- {{ document.OPPORTUNITY_STATE }} -->
                <ul class="tags">
                  {% for tag in document.TAGS %}
                    {% if tag.TAG_NAME != category_name %}{# DO NOT show corrent tag #}
                      <li style="{% if tag.TAG_NAME == 'late' %}background-color: #C40D0D; {% endif %}{% if tag.TAG_NAME == 'chase' %}background-color: #449d44; {% endif %}">{{ tag.TAG_NAME }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>

              </div>
            </div>

            {#</div>#}
            {#{% endif %}#}

            {#{% set i=i+1 %}#}
          {% endfor %}{# /document #}
        </div>
      {% endfor %}{# /category #}
    </div>
  </div>
{% endblock %}
