{% extends 'templates/default.twig' %}

{% block title %}Opportunities - SlimInsight{% endblock %}

{% set title='Months in the House' %}

{# TODO: Check if there were some extra status FLAGS in the other columns #}
{% block content %}
    {#{% set stage=stage %}#}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for key,category in data %}

                <div class="col-xs-6 col-md-3">{# need to itterate at this level by STATE? #}
                    <h2>{{ key[2:7]|upper }} <span class="badge pull-right">{{ category|length }}</span></h2>
                    {% for document in category %}
                        {# panel-warning pannel-danger to use if tag of chase or late #}
                        <div class="panel panel-default" style="background-color:
                        {% for stg in stage %}
                            {% if stg.STAGE_ID == document.STAGE_ID %}
                                {% set colour=attribute(stg, key).COLOUR %}{{ stg.COLOUR }}
                            {% endif %}
                        {%  endfor %}; opacity:{{ probability(document.PROBABILITY) }};">
                            <div class="panel-body">

                                <h4>{{ document.OPPORTUNITY_NAME }}{% if document.BID_AMOUNT > 0 %} <span class="badge pull-right">{% if document.BID_CURRENCY == 'GBP' %}&pound;{% endif %}{% if document.BID_CURRENCY == 'USD' %}${% endif %}{{ document.BID_AMOUNT }}</span>{% endif %}</h4>
                                Close: {{ stage[document.STAGE_ID].STAGE_NAME is not null ? stage[document.STAGE_ID].STAGE_NAME : 'N/A' }}
                                on {{ document.FORECAST_CLOSE_DATE[0:10] }}
                                {# should be server url in conf #}
                                <a class="btn {{ (document.OPPORTUNITY_STATE == 'ABANDONED' or document.OPPORTUNITY_STATE == 'SUSPENDED') ? 'btn-danger' : 'btn-default' }}" role="button" href="https://holdingbay.insight.ly/opportunities/details/{{ document.OPPORTUNITY_ID }}">{{ document.OPPORTUNITY_STATE }} View</a>

                            </div>
                            <div class="panel-footer">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        Links<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu{{ loop.index }}">
                                        {% for key, links in document.LINKS.0 %}
                                            {% if links is not null %}
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://holdingbay.insight.ly/{% if key == 'ORGANISATION_ID' %}organisations{% endif %}{% if key == 'CONTACT_ID' %}contacts{% endif %}{% if key == 'OPPORTUNITY_ID' %}opportunities{% endif %}/details/{{ links }}">{{ key }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>

                                <!-- {{ document.OPPORTUNITY_STATE }} -->
                                <ul class="tags">
                                    {% for tag in document.TAGS %}
                                        <li style="{% if tag.TAG_NAME == 'late' %}background-color: #C40D0D; {% endif %}{% if tag.TAG_NAME == 'chase' %}background-color: #449d44; {% endif %}">{{ tag.TAG_NAME }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>

                    {% endfor %}{# /document #}
                </div>
            {% endfor %}{# /category #}
        </div>
    </div>
{% endblock %}
